@tailwind base;
@tailwind components;
@tailwind utilities;

/* Marker Popup Styles */
:global(.custom-popup .leaflet-popup-tip) {
  display: none;
}

:global(.custom-popup .leaflet-popup-content-wrapper) {
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 0;
  margin: 0;
  transform: translateY(-8px);
}

:global(.custom-popup .leaflet-popup-content) {
  padding: 0;
  margin: 0 !important;
  border: none;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  width: 100% !important;
  max-width: 320px;
}

:global(.popup-container) {
  border-radius: 0.5rem;
  overflow: hidden;
  background: white;
}

:global(.leaflet-popup) {
  margin-bottom: 15px !important;
}

.custom-day-picker .rdp-nav svg {
  fill: rgb(52, 52, 52) !important;
}
