@tailwind base;
@tailwind components;
@tailwind utilities;

.map-container {
  height: 100%;
  width: 100%;
  position: relative;
  grid-column: 2 / 6;
}

.map {
  height: 100%;
}

:global(.custom-popup .leaflet-popup-tip) {
  display: none; /* Hide the popup tip (the triangle arrow) */
  background-color: transparent;
}

:global(.custom-popup .leaflet-popup-content-wrapper) {
  border: none; /* Remove the border around the content box */
  box-shadow: none; /* Remove shadow around the content */
  background-color: transparent;
}

:global(.custom-popup .leaflet-popup-content) {
  padding: 0; /* Remove padding */
  border: none; /* Remove border */
  box-shadow: none; /* Remove shadow */
  background-color: transparent;
}

/* .custom-day-picker .rdp-nav {
  color: rgb(21, 21, 21) !important;
} */

.custom-day-picker .rdp-nav svg {
  fill: rgb(52, 52, 52) !important;
}
